<div class="row" id="top-level-row-survey-creation">
  <form class="form-inline" method="post" action="/surveys">
    <div class="survey-form row">
      <div class="form-group col-sm-12">
        <label for="title">Survey Title</label>
        <input type="text" name="title" placeholder="Survey Title" class="form-control" value="<%= @survey.title%>">
      </div>
      <div class="form-group col-sm-12">
        <label for="description">Description</label>
        <textarea type="text" name="description" placeholder="Survey Description (optional)" rows="4" class="form-control"><%= @survey.description %></textarea>
      </div>
    </div>

    <div class="forms-container row">
      <% i = 1 %>
      <% @questions.each do |question_index, content| %>
      <div class="question-form">
        <div class="form-group col-sm-12">
          <label>Question <%= i %></label>
          <% i+=1 %>
          <input type="text" name="<%= question_index %>" placeholder="Question" class="form-control <% if invalid_content?(content) %> invalid<% end %>" value="<%= content %>">
        </div>
        <% answers = @answers.select{|a| a.match("#{question_index}-")} %>
        <div class="answer-form form-group col-sm-4">
          <% answers.each do |index, answer| %>
          <input type="text" name="<%= index %>" placeholder="Answer" class="form-control <% if invalid_content?(answer) %> invalid <% end %>" value="<%= answer %>">
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <a href="#" id="add-answer" type="button" name="add-answer" class="btn btn-md btn-default">Add Answer</a>
        <a href="#" id="add-question" type="submit" name="add-question" class="btn btn-md btn-default">Add Question</a>
        <a href="#" id="undo-add" type="submit" name="undo-add" class="btn btn-md btn-default">Undo</a>
        <button id="submit-new-survey" type="submit" class="btn btn-md btn-default">Create</button>
      </div>
    </div>
  </form>
</div>
