<h1><%= @survey.title %></h1>

<% if @survey.description %>
  <p class="surveyDescription"><%= @survey.description %></p>
<% end %>

<form method="post" action="/surveys/<%=@survey.id %>" class="take_survey">
  <input type="hidden" name="_method" value="put" />
  <% @survey.questions.each do |question| %>

  <div class="question">
    <p class="surveyQuestion"><%= question.content %></p>
    <% question.answers.each_with_index do |answer, index| %>
      <div class="radio">
        <label><input type="radio" name="question-<%= question.id%>" value="<%= answer.id%>" <% if index == 0 %>
          <%=checked="checked" %>
          <% end %>
          ><%= answer.content %></label>
      </div>
    <% end %>
  </div>

  <% end %>
  <div class="form-group">
    <button type="submit" class="form-control btn btn-block btn-default" id="submit-survey-response-button">Submit Survey</button>
  </div>
</form>

